@use "./variables" as *;

:root {
  background-color: #ffffff;
  font-family: $font-base;
  font-size: $font-size-base;
}

body {
  font-family: $font-base;
  font-size: $font-size-base;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 500;
}
