$primary-color: #42567a;
$primary-color-border: rgb($primary-color, 10%);
$blue-color: #5d5fef;
$blue-secondary-color: #3877ee;
$pink-color: #ef5da8;
$white-color: #ffffff;
$background-color: #ffffff;
$gradient-color: linear-gradient(180deg, $blue-secondary-color, $pink-color);
$grey-color: #c7cdd9;

$font-base: "PT Sans", sans-serif;
$font-secondary: "Bebas Neue", sans-serif;
$font-size-base: 20px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
