@use "@/app/styles/variables" as *;

.circle {
    position: absolute;
    width: 530px;
    height: 530px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid rgba($primary-color, 0.2);
    z-index: 3;
}

.dotWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    pointer-events: none;
    transition: transform 0.8s ease;

    .dotTitle {
    position: absolute;
    font-size: $font-size-base;
    color: $primary-color;
    font-weight: 700;
    white-space: nowrap;
    pointer-events: none;
    line-height: 1;
    }

    .dotInner {
    width: 6px;
    height: 6px;
    background: $primary-color;
    border-radius: 50%;
    color: $primary-color;
    transition: all 0.3s ease;
    transform-origin: center center;
    pointer-events: auto;
    cursor: pointer;

    span {
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 100%;
        height: 100%;
    }

    &:hover span,
    &.active span {
        opacity: 1;
    }

    &:hover {
        width: 56px;
        height: 56px;
        border: 1px solid rgba($primary-color, 0.5);
        background: $white-color;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -25px;
    }

    &.active {
        width: 56px;
        height: 56px;
        border: 1px solid rgba($primary-color, 0.5);
        background: none;
        font-size: 14px;
        display: flex;
        background: $white-color;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: -25px;
    }
    }
}


@media (max-width: 320px) {

      .circle {
        display: none;
      }

      .dotWrapper {
        display: none;

        .dotInner {
          display: none;

          span {
            display: none;
          }
        }
      }
    }

