@use "@/app/styles/variables" as *;

.timelineBlock {
  position: relative;
  max-width: 1440px;
  border-left: 1px solid $primary-color-border; 
  border-right: 1px solid $primary-color-border;
  height: 100vh;
  margin: auto;

  &::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary-color-border;
    transform: translateY(-50%);
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
    height: 100vh;
    background-color: $primary-color-border;
  }
}


.periodSelector {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.periodButton {
  padding: 8px 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.active {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
}

.sliderWrapper {
  width: 100%;
}
